.col-sm-4.col-md-3.proto-content
  - if user_signed_in? && current_user.id == prototype.user_id
    .dropdown.drop_menu_location
      %button{class: "btn btn-default dropdown-toggle", 'data-toggle': "dropdown", type: "button", id: "dropdownMenu"} Action
      %ul.dropdown-menu{'aria-labelledby': "dropdownMenu1"}
        %li
          = link_to "Delete", prototype_path(prototype.id), method: :delete
        %li
          = link_to "Edit", edit_prototype_path(prototype.id), method: :get
  .thumbnail
    = link_to prototype_path(prototype.id) do
      = image_tag(prototype.images.main[0].image)
    .caption
      %h3
        = prototype.name
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.username}", user_path(prototype.user.id)
          .proto-posted
            = prototype.created_at.strftime('%b %d')
        %ul.proto-tag-list.list-inline
          = render partial: "tags/tag", collection: prototype.tags
