.container.proto-new{action: "/prototypes"}
  - if @prototype.errors.any?
    .alert.alert-danger
      - @prototype.errors.full_messages.each do |msg|
        %li
          = msg
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :name, type: "text", placeholder: "Title", class: "proto-new-title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :images do |images_form|
              = images_form.file_field :image
              = image_tag("", id: "main_preview", style: "display:none; width:100%; height:100%;")
              = images_form.hidden_field :status, value: "main"
        .col-md-12
          %ul.proto-sub-list.list-group
            - 3.times do
              = f.fields_for :images do |images_form|
                %li.list-group-item.col-md-4.appear_form
                  .image-upload{ id: "js-image"}
                    = images_form.file_field :image
                    = image_tag("", id: "sub_preview", class: "preview-image", style: "display:none; width:100%; height:100%;")
                    = images_form.hidden_field :status, value: "sub"
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, type: "text", placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Web Design", maxlength: 6
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "UI", maxlength: 6
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Application", maxlength: 6
    .row.text-center.proto-btn
      = f.submit class: "btn btn-lg btn-primary btn-block", value: "Publish"

