.container.user-page
  %header.user-nav
    .media
      .media-left
        = image_tag(@user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;", class: "media-object")
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @user.prototypes.count
            %i Projects
        .proto-user
          %span.degree
            = @user.member
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.works
.container.proto-list
  .row
    = render partial: "prototypes/prototype", collection: @prototypes

.text-center
  %ul.pagination
    %li.disabled
      %li.active
        = paginate(@prototypes)
